
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');

@import url('https://fonts.googleapis.com/css?family=Raleway:200,400');

@font-face {
font-family: "Cassandra Personal Use";
src: url("../fonts/cassandra.ttf");
}
html {
  scroll-behavior: smooth;
}

body{
    font-family: "Segoe UI";
    margin: 0;
    padding: 0;
}
p{
    font-family: "Segoe UI";
    line-height: 2rem;
    font-size: 1.4rem;
    padding-left: 5vw;
    padding-right: 5vw;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
}
/*****Utility ****************/
.text-brown{
    color: #e67e22;
}
.text-orange{
    color: #f6e58d;
}

h1{
    text-align: center;
}

.para p{
    font-size: 1rem;
    width: 63%;
    padding-left: 18vw;
}
/*****Utility*******************/

/*****************************First Section of Page*************************************/
#main-viking-logo{
    position: absolute;
    width: 20%;
    top: 24vh;
    left: 42vw;
}

#main-logo{
    font-family: "Cassandra Personal Use";
    position: absolute;
    color: white;
    font-size: 7rem;
    top: 18vh;
    left: 19vw;
}

#main-second{
    font-family: "Cassandra Personal Use";
    position: absolute;
    color: white;
    font-size: 2rem;
    top: 80vh;
    left: 33vw;
}



#top-viking-logo{
    position: absolute;
    padding-top:31px;
    padding-left: 1.10rem;
    width:7vh;
}

#top-vl {
  border-left: 1px solid white;
  height: 6vh;
  position: absolute;
  left: 6vw;
  top: 3.2vh;
}

#bg-img{/* If you want color to fade from black to white overlay on image 
     background-image: linear-gradient(to top left, rgba(0, 0, 0, 0), rgba(100, 100, 100)), url('../img/coffee.jpg'); */
   background-image: url('../img/coffee.jpg');
   background-position: 100%;
   width:98.8vw;
   height:100vh;
   filter: blur(4.5px);
   /* Opacity is how white the bg is */    
   opacity: .7;
   background-size: cover;
    /* Use this if you want to have a gray color overlay
   opacity: 0.4;
   filter: alpha(opacity=40); 
    */          
}
#top-menu{
    color: #ffda79;    
    width: 100%;
    margin-top: -2vh;
    height: 15vh;
    margin-bottom: 15vh;
    /*background: rgba(128,0,0,0.9);*/
    background: grey;
    position: absolute;
    top: 0px;
}

#top-menu p{
    font-family: "Segoe UI";
    font-size: 30px;
    position: absolute;
    left: 2.3vw;
}

#top-menu #top-coffee-text{
    font-family: "Segoe UI";
    font-size: .85rem;
    position: absolute;
    top: 6vh;
    left: 3.5vw;
}

#top-menu ul{
    display: flex;
    justify-content: flex-end;
}

#top-menu ul li{
    list-style-type: none;
    padding-top: 2.2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: .85rem;
}
/***** Targest the 'mission' ***********/
#top-menu ul #top-main-li{
    padding: 15px;
}
/**** The gold border around mission *****/
#top-menu ul div{
    border: 1px solid gold;
    list-style-type: none;
    margin-top: 20px;
    margin-right: 2.5rem;
    font-size: .85rem;
}



#menu{
    margin-top: -2vh;
    color: #ffda79;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    z-index: 1;
    /*background: rgba(128,0,0,0.9);*/
    background: grey;
}
#viking-logo{
    position: absolute;
    padding-top:2.6vh;
    padding-left: 1.10rem;
    width:7vh;
}
#vl {
  border-left: 1px solid white;
  height: 6vh;
  position: absolute;
  left: 6vw;
  top: 3.4vh;
}
#menu ul{
    display: flex;
    justify-content:  flex-end;
}

#menu ul li{
    list-style-type: none;
    padding-top: 1.2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: .85rem;
}

#menu p{
    font-family: "freight-big-pro";
    font-size: 30px;
    margin-top: 1.2rem;
    position: absolute;
    left: 2.3vw;
}

#menu #coffee-text{
    font-family: "freight-big-pro";
    font-size: .85rem;
    position: absolute;
    top: 3.6vh;
    left: 3.5vw;
}

/***** Targest the 'mission' ***********/
#menu ul #main-li{
    /** Resizes the gold border box ****/
    padding: 15px;
}
/**** The gold border around mission *****/
#menu ul div{
    border: 1px solid gold;
    list-style-type: none;
    margin-top: 4px;
    margin-right: 2.5rem;
    font-size: .85rem;
}

/****************************First Section of Page************************************/





/***************************Middle Section of Page ****************************/


#front{
    display: flex;
    justify-content: space-around;

}

#front img{
    
    width: 25%;
    height: 40vh;
    margin-top: 8vh;
}


#front-three{
    margin-left: 20vw;
    object-fit:cover;
    object-position:50% 50%;
    height: 80vh;
   
}




#white-block{
    position: relative;
    margin-top: -1.3vh;
    width:98.9vw;
    height: 11px;
    background: #a4b0be;
}






#top-main h1:first-child{
    font-family: raleway;
    font-size: 3rem;
}

#welcome{
    width:60%;
    height: 650px;
    margin-left: 21vw;
    object-fit:cover;
    object-position:50% 50%;
    border-radius: 5px;
}

.outer{
    margin-top: 7rem;
}
.outer h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    
}

.outerTwo{
    margin-top: 15rem;
}

.middle-text{
    margin-top: 6vh;
}

#top-main img{
    margin-bottom: 1rem;
}

#top-main #first-description{
   font-size: .95rem;
   width: 60%;  
   padding-left: 19vw;  
   padding-bottom: 6.75rem;
}



#top-main p{
    text-align: center;
    
}

#main-menu{
    display: flex;
    width: 70%;
    margin-left: 14vw;
    margin-bottom: 5rem;
    color:black;

}

#main-menu p{
  padding: 0;
  margin-bottom: 3px;
  text-align: left;
  font-weight: 450;
    font-size: 19px;
}


#main-menu li{
    list-style: none;
    margin-right: 80px;
    margin-bottom: 50px;
    line-height: 1.45rem;
    font-size: .970rem;
}


.coffee-1{
   margin-left: 16.5vw;
   margin-top: -12vh;
   position: absolute;
   background-image: url('../img/coffee-1.jpg');
   width:20vw;
   height:27vh;
    
   background-size: cover;
   
}

.coffee-2{
   margin-left: 61vw;
   margin-top: -12vh;
   position: absolute;
   background-image: url('../img/coffee-2.jpg');
   width:20vw;
   height:27vh;
    
   background-size: cover;
}


.smoothie-1{
   margin-left: 16.5vw;
   margin-top: -12vh;
   position: absolute;
   background-image: url('../img/smoothie-1.jpg');
   width:20vw;
   height:27vh;
    
   background-size: cover;
   
}

.smoothie-2{
   margin-left: 61vw;
   margin-top: -12vh;
   position: absolute;
   background-image: url('../img/smoothie-2.jpg');
   width:20vw;
   height:27vh;
    
   background-size: cover;
}


/***************************Middle Section of Page ****************************/






/*********************************PARALLAX**************************************/
		
		
.pimg1{
    margin-top: 20vh;    
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
	/* Now is where the parallax Effect Begin */
	
	/*
	fixed = parallax
	scroll = normal
	Should add Media Queries if you are
	going to use it on mobile cause
	parallax does funky stuff on mobile
	*/
	background-attachment: fixed;
	
	/* Now is where the parallax Effect Begin */
        
}
.pimg1{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), rgba(247, 215, 148,1.0),rgba(247, 215, 148,1.0)), url('../img/waffle.jpg');
	min-height: 590px;
}


.pimg1 p{
    font-size: 1rem;
    width: 30%;
    float:right;
    margin-top: 12vh;
}



/*********************************PARALLAX**************************************/


#bottom p{
    position:absolute;
    width: 23%;
    
}
#bottom #first-p{
    font-size: 32px;
    margin-top:15vh;
}

#bottom #second-p{
    margin-top: 27vh;
}
#bottom h1{
    
}
#bottom-img{
    width:500px;
    height:600px;
    object-fit:cover;
    margin-left: 49.6vw;
}

#bottom-imgTwo{
    width:50%;
    height:550px;
    object-fit:cover;
    margin-bottom: 15vh;
}






#bottom p{
    position:absolute;
    width: 30%;
    margin-left: 3vw;
    font-size: 16px;
}
#bottom #third-p{
    font-size: 30px;
    margin-top:10vh;
    margin-left: 50vw;
}

#bottom #fourth-p{
   margin-top: 20vh;
   margin-left: 50vw;
}









#last-description{
    margin-top: 5vh;
    margin-bottom: 30vh;
}

#last-description p{
    margin-left: 25vw;
    font-size: 1rem;
    width: 50%;
    padding:0;
    text-align: center;
}

#last-description h2{
    margin-left: 25vw;
    width: 50%;
    text-align: center;
}

  
#coffee-farm{
    margin-top: 5vh;
    margin-left: 20.5vw;
    max-height: 550px;
    width: 60%;
    object-fit:cover;
    
}



#fruits{
   background-image: url('../img/fruits.jpg');
  
   height:70vh;

    background-position: 50%;
	background-size:contain;
    background-repeat: no-repeat;
}








#final{
    font-size: 110px;
}




    /*******************************************Footer**********************************************/

footer{
    margin-top: -50px;
}
.last{
    padding-top: 25px;
    padding-bottom: 30px;
    text-align: center;

}

.bg-light{
    background: lightblue;
}

.margin-bot{
    margin-bottom:-45px;
}

.block{
    display: inline-block;

}


.block p{
    
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1px;
    margin-bottom: 22px;
}
.last .block{
 width: 49%;
}
.cafe-text{
    position: absolute;
    font-size: 296px;
    opacity: 0.06;
}

/*******************************************Footer**********************************************/





.intro-text{
    opacity:0;
    transform: translateX(-20px);
    transition: 1.5s all ease-in-out;
}


.intro-appear{
    opacity: 1;
    transform: translateX(0px);
}


















.navAni{
    height: 100%;
    width: 0;
    position: fixed;
    
    z-index: 12;
    top: 0;
    right: 0;
    background-color: #111;
    opacity: .9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.7s;
}

.navAni a{
    display: block;
    padding: 20px 30px;
    font-size: 25px;
    text-decoration: none;
    color: #ccc;
}

.navAni a:hover {
    color: #fff;
    transition: 0.4s;
}

.navAni .close{
    position: absolute;
    top: 0;
    right: 22px;
    margin-left: 50px;
    font-size: 30px;
}

.slide a {
    background-color: white;
    font-size: 36px;
    padding-left: 90vw;
}

#entireContent{ 
    padding: 20px;
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
    z-index: 20;
    background-color: black;
    
}
































#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background:grey;
  z-index: 10;
}



#loader-wrapper .loader-section.section-right {
  right: 0;
}



.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
    
}


#loader-wrapper p{
 
    font-size: 2.5rem;
    color: white;
    margin-top: -80px;
    margin-left: -220px;
    z-index: 999;
    padding: 0;
}




.viking-cup{
    background-image: url(../img/cup.jpg);
    position: absolute;
    top:5%;
    left:15%;
    width: 25%;
    height: 45%;

    background-position: center;
	background-size: cover;

    object-position:50% 50%;
    

    z-index: 3333;
}


.cup{
    height:140px;
    width:180px;
    position: fixed;
    border: 6px solid #efb54a;
    margin-left:20vw;
    border-radius: 0px 0px 70px 70px;
    background:url(../img/coffee.png);
    box-shadow: 0px 0px 0px 6px white;
    
    background-repeat: repeat-x;
    background-position: 0px 140px;
    animation: fill 6s infinite;
    z-index: 11111;
}

@keyframes fill{
    0%{
        background-position: 0px 140px;
    }
    
    20%{
        background-position: -450px 100px;
    }
    40%{
        background-position: -900px 50px;
    }
    80%{
        background-position: -1350px -40px;
    }
    
    100%{
        background-position: 0px 140px;
    }
    
}


.handle{
    height: 70px;
    width: 40px;
    background-color: transparent;
    border: 6px solid white;
    position: relative;
    left: 186px;
    top: 5px;
    border-radius: 0px 25px 80px 0px;
    z-index: 11111;
}














